{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-12">
        <div class="main-card-box card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-main shadow-dark border-radius-lg pt-4 pb-3">
                    <h2 class="text-white text-capitalize ps-3">Add New Patron</h2>
                </div>
            </div>
            <div class="card-body px-4 pb-4">
                <form method="POST">
                    {{ form.hidden_tag() }}

                    <div class="col-12 d-flex justify-content-end align-items-center sticky-top bg-white py-2 mb-4 border-bottom">
                        <div class="d-flex justify-content-end gap-2 mt-3">
                            {{ form.submit(class_="btn bg-gradient-main") }}
                            <a type="button" class="btn reset-button-box shadow-dark" href="/patrons">Back</a>
                        </div>
                    </div>

                    <!-- Section: Patron Info -->
                    <p class="text-uppercase text-sm text-muted fw-bold mb-2 mt-3">Patron Information</p>
                    <hr class="mt-0 mb-3">
                    <div class="row g-3">
                        <div class="col-12 col-sm-6 col-lg-4">
                            {{ form.badge_id.label(class="form-label") }}
                            {{ form.badge_id(class="form-control") }}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            {{ form.grade.label(class="form-label") }}
                            {{ form.grade(class="form-select") }}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            {{ form.rm_num.label(class="form-label") }}
                            {{ form.rm_num(class="form-control") }}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            {{ form.first_name.label(class="form-label") }}
                            {{ form.first_name(class="form-control") }}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            {{ form.middle_name.label(class="form-label") }}
                            {{ form.middle_name(class="form-control") }}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            {{ form.last_name.label(class="form-label") }}
                            {{ form.last_name(class="form-control") }}
                        </div>


                    </div>

                    <!-- Section: Account & Placement -->
                    <p class="text-uppercase text-sm text-muted fw-bold mb-2 mt-8 my-5">Account & Placement</p>
                    <hr class="mt-0 mb-3">
                    <div class="row g-3">
                        <div class="col-12 col-sm-6 col-lg-4">
                            {{ form.role_id.label(class="form-label") }}
                            {{ form.role_id(class="form-select") }}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            {{ form.status.label(class="form-label") }}
                            {{ form.status(class="form-select") }}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            {{ form.site_id.label(class="form-label") }}
                            {{ form.site_id(class="form-select") }}
                        </div>
                    </div>

                    <!-- Section: Guardian -->
                    <p class="text-uppercase text-sm text-muted fw-bold mb-2 mt-8 my-5">Contact Information</p>
                    <hr class="mt-0 mb-3">
                    <div class="row g-3">
                        <div class="col-12 col-sm-6 col-lg-4">
                            {{ form.guardian_name.label(class="form-label") }}
                            {{ form.guardian_name(class="form-control") }}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            {{ form.phone.label(class="form-label") }}
                            {{ form.phone(class="form-control", type="tel") }}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            {{ form.email.label(class="form-label") }}
                            {{ form.email(class="form-control", type="email") }}
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
