{% extends 'base.html' %}
{% block content %}


    <!-- main content card -->
<div class="row">
    <div class="col-12">        
        <div class="main-card-box card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-main shadow-dark border-radius-lg pt-4 pb-3">
            <h2 class="text-white text-capitalize ps-3">Edit Role</h2>
          </div>
        <div class="card-body px-0 pb-2">
            <br>
            <div class="row">
                <div class="col"></div>
                <div class="col-md-auto"></div>
    <!-- pause main content card -->




            
    <!-- form -->
    <div class="card-body align-items-center">
        <div class="container-md align-items-center">
<form method="POST" action="{{ url_for('routes.edit_role', role_id=role.id) }}">
    {{ form.hidden_tag() }}
    <div class="input-group input-group-outline my-3">
    {{ form.role_name.label (class="form-label") }} 
        {{ form.role_name (class="form-control") }}
    </div>
    <div class="input-group input-group-outline justify-content-end gap-2">
    {{ form.submit (class="btn bg-gradient-main")}}
    <a type="button" class="btn btn reset-button-box shadow-dark" href="/roles">Back</a>
</div>
</form>
</div>
</div>
<!-- End form -->




<!-- continue main content card -->
</div>
</div>
</div>
</div>
<!-- End main content card -->

{% endblock %}
