{% extends 'base.html' %}
{% block content %}

<!-- Main Content Card -->
<div class="row">
    <div class="col-12">        
        <div class="main-card-box card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-main shadow-dark border-radius-lg pt-4 pb-3">
                    <h2 class="text-white text-capitalize ps-3">Edit Device Category</h2>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <br>
                <div class="row">
                    <div class="col"></div>
                    <div class="col-md-auto"></div>

                    <!-- Form -->
                    <div class="card-body align-items-center">
                        <div class="container-md align-items-center">
                            <form method="POST">
                                {{ form.hidden_tag() }}

                                <!-- Category Name -->
                                <div class="input-group input-group-outline my-3">
                                    {{ form.category_name.label(class_="form-label") }}
                                    {{ form.category_name(class_="form-control text-capitalize") }}
                                </div>

                                <!-- Submit & Back -->
                                <div class="input-group input-group-outline justify-content-end gap-2">
                                    {{ form.submit(class_="btn bg-gradient-main", value="Update Category") }}
                                    <a type="button" class="btn reset-button-box shadow-dark" href="{{ url_for('routes.categories') }}">Back</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- End Form -->

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
